body {
  background-color: #288d26;
}

div {
  width: 106px;
}

img {
  width: 100%;
  object-fit: contain;
  transition: transform 0.5s;
}

.east {
  transform: rotate(0turn);
}

.south {
  transform: rotate(0.25turn);
}

.west {
  transform: rotate(0.5turn);
}

.north {
  transform: rotate(0.75turn);
}
